= form_for @subscriber, url: :subscribe do |f|
  .field
    = f.label :name
    = f.text_field :name, required: true, placeholder: "Name"
  .field
    = f.label :email
    = f.text_field :email, required: true, placeholder: "Email"
  .field
    = f.submit 'Subscribe'
