p Thank you for your interest in our mailing list.
p
  ' Please follow this link in order to complete your subscription to it:
  = link_to @confirm_link, @confirm_link
p If you did not subscribe to this list, you can safely just ignore this message.
p
  ' You can revoke your subscription at any time following this link:
  = link_to @unsubscribe_link, @unsubscribe_link
